.row
  .col-md-4
  .col-md-4
    .panel.panel-primary
      .panel-heading.text-center
        %h2.panel-title Resend confirmation instructions
      .panel-body
        = form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post } do |f|
          = devise_error_messages!
          = f.text_field :login, placeholder: 'Login', required: 'true', autofocus: true, class: 'form-control'
          %br
          = f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-block'
      .panel-footer
        = render 'devise/shared/links'
  .col-md4
