= provide :title, 'Edit account settings'

.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading.text-center
        %h2.panel-title Edit account settings
      .panel-body
        = form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f|
          = devise_error_messages!
          = f.text_field :name, placeholder: 'Name', required: 'true', autofocus: true, class: 'form-control'
          %br
          = f.text_field :username, placeholder: 'Username', required: 'true', class: 'form-control'
          %br
          = f.email_field :email, placeholder: 'Email', required: 'true', class: 'form-control'
          %br
          = f.password_field :password, placeholder: 'Password (leave blank if you don\'t want to change it)', autocomplete: 'off', class: 'form-control'
          %br
          = f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'form-control'
          %br
          = f.password_field :current_password, placeholder: 'Current password (to confirm your changes)', required: 'true', class: 'form-control'
          %br
          = f.submit 'Save changes', class: 'btn btn-default btn-block'
      .panel-footer
        = button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure you want to cancel your account?' }, method: :delete, class: 'btn btn-xs btn-warning btn-block'
  .col-md4
