.row
  .col-md-12
    %h1
      - owner_username = @project.user.username
      - current_uri = request.env['PATH_INFO']

      = link_to owner_username, user_profile_path(owner_username)
      \/
      = link_to @project.name, project_path(@project)
      - unless @project.description.blank?
        %small= @project.description
    %br
    %ul.nav.nav-pills.nav-justified
      - if current_uri == project_path(@project)
        %li.active= link_to 'Issues', ''
      - else
        %li= link_to 'Issues', project_path(@project)
      - if current_uri == new_project_issue_path(@project)
        %li.active= link_to 'New issue', ''
      - else
        %li= link_to 'New issue', new_project_issue_path(@project)
      - if @project.user_id == current_user.id
        - if current_uri == edit_project_path(@project)
          %li.active= link_to 'Project settings', ''
        - else
          %li= link_to 'Project settings', edit_project_path(@project)
%br
%br
