= render 'shared/project_header'

.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading.text-center
        %h2.panel-title
          Edit project settings
      .panel-body
        = render 'errors'
        = form_for @project, url: project_path, method: :patch, class: 'input-group input-group-lg' do |f|
          = f.text_field :name, placeholder: 'Project name', required: 'true', autofocus: true, class: 'form-control'
          %br
          = f.text_field :description, placeholder: 'Description (optional)', class: 'form-control'
          %br
          = f.submit 'Save changes', class: 'btn btn-success btn-block'
      .panel-footer
        = button_to 'Delete project', project_path, data: { confirm: 'Are you sure you want to delete this project?' }, method: :delete, class: 'btn btn-xs btn-warning btn-block'
  .col-md-4
