.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading.text-center
        %h2.panel-title Sign in
      .panel-body
        = form_for resource, as: resource_name, url: session_path(resource_name), class: 'input-group input-group-lg' do |f|
          = f.text_field :login, placeholder: 'Login', required: 'true', autofocus: true, class: 'form-control'
          %br
          = f.password_field :password, placeholder: 'Password', required: 'true', class: 'form-control'
          %br
          = f.submit 'Sign in', class: 'btn btn-default btn-block'
      .panel-footer
        = render 'devise/shared/links'
  .col-md-4
